html, body { width: 100%; height: 100%; background-color: rgba(185,229,250, 1); }

#wrapper { width: 100%; height: 100%; }

#cup {
	width: 270px;
	height: 406px;
	
	position: absolute;
	
	left: calc(50% - 135px);
	top: calc(50% - 203px);

	
	opacity: 1;
	background: url("../img/cup.png") top left no-repeat;
	
	animation: pulse 3s infinite linear;
	/*transform: rotate(45deg);*/
	/*transform: scale(.5);*/
}

@keyframes pulse {
	0%		{ opacity: 1; }
  	50%		{ opacity: 0; }
  	100%	{ opacity: 1; }
}

@keyframes spin {
	0%		{ transform: rotate(0deg); }
  	100%	{ transform: rotate(360deg); }
}

@keyframes spinandscale {
	0%		{ transform: rotate(0deg) scale(1); }
  	50%		{ transform: rotate(180deg) scale(.5); }
  	100%	{ transform: rotate(360deg) scale(1); }
}

@keyframes spinandscaletwo {
	0%		{ transform: rotate(0deg) scale(1.2); }
  	50%		{ transform: rotate(360deg) scale(.3); }
  	100%	{ transform: rotate(720deg) scale(1.2); }
}



