/* GLOBAL */
html, body { width: 100%; height: 100%; }

@font-face { font-family: "avenirnextbold"; src: url("../fonts/avenir.next.bold.ttf"); }

/* WRAPPER */
#wrapper { padding-top: 20px; }

h1, h2 { font-family: "avenirnextbold"; font-weight: normal; text-align: center; }

h1 { font-size: 36px; margin-bottom: 30px; }
h2 { font-size: 20px; margin-bottom: 20px; }

/* MAIN */
#main { margin-bottom: 50px; }

ul { width: 420px; margin: 0 auto; }

ul li { list-style: none; text-align: center; margin-bottom: 20px; }



ul li .dog { width: 200px; float: left; margin-right: 20px; }


ul li .dog.last { margin-right: 0; }
ul li .dog-image {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	background: url("") center center no-repeat;
	background-size: cover;
}
ul li .one { background-image: url("../img/img001.gif"); }
ul li .two { background-image: url("../img/img002.gif"); }
ul li .three { background-image: url("../img/img003.gif"); }
ul li .four { background-image: url("../img/img004.gif"); }
ul li p { text-align: center; font: normal 12px "avenirnextbold"; }

/* FOOTER */
#footer { padding-top: 30px; }