html, body { width: 100%; height: 100%; }

@font-face { font-family: "brownstdlight"; src: url("../fonts/brown.std.light.otf"); }
@font-face { font-family: "brownstdreg"; src: url("../fonts/brown.std.regular.otf"); }
@font-face { font-family: "brownstdbold"; src: url("../fonts/brown.std.bold.otf"); }

#wrapper { width: 500px; margin: 0 auto; padding-top: 30px; }

.item { margin-bottom: 30px; }
.item h1 { cursor: pointer; font: normal 20px "brownstdbold"; margin-bottom: 10px; }

.redact { position: relative; }
.redact.on { background-color: black; }
/*.hover:hover { background-color: black; }*/
