html, body { width: 100%; height: 100%; }

@font-face { font-family: "avenirnextbold"; src: url("../fonts/avenir.next.bold.ttf"); }

#wrapper { width: 500px; margin: 0 auto; padding-top: 30px; }

.item { margin-bottom: 30px; }
.item h1 { cursor: pointer; font: normal 20px "avenirnextbold"; margin-bottom: 10px; }
.item p { /*display: none;*/ opacity: 0; }
/*.item a { display: none;  text-decoration: underline; color: red; }*/

.hover:hover p { /*display: block;*/ opacity: 1; }
/*.hover:hover a { display: block; }*/

.click:active p { display: block; }